body {
	background-color: grey;
	height: 80vh;
/*	width: 80vw;*/
	margin-left: 5%;
	margin-right: 5%;
	font-family: consolas;
}

.panelContainer {
	height: 100%;
	width: 100%;
	margin: auto;
	display: grid;
	grid-template-columns: auto auto;
	gap: 10px;
	background-color: dodgerblue;
	padding: 10px;
	border-radius: 25px;
}

div.panels{
	background-color: #f1f1f1;
	color:#000;
	padding: 10px;
	/*font-size: 30px;*/
	text-align: center;
	border-radius: 25px;
}

#leftPanel {
  grid-row-start: 1;
  grid-row-end: 2;
}

.info {
	width: 50%;
	float: left;
	/*text-align: left;*/
}

#rightPanel {
	grid-column: 2;
}
#lineGraph {
	grid-column: 1 / span 2;
	overflow-x: hidden;
	overflow-y: hidden;
}

.refineNumber {
	/*width: 20%;*/
	/*height: 98%;*/
	vertical-align: bottom;
	/*text-align: center;*/
	/*font-size: 100%;*/
/* check font-size responsivess with window size change	*/
padding: 0px;
border: 0px;
/*margin: 0px;*/
}

#safeCost {
	/*display: none;*/
	/*visibility: hidden;*/
}

.checkboxes {
/*	transform: scale(1.3);*/
/*	vertical-align: bottom;*/
}

.slider {
	width: 85%;
}

#startButton, #pauseButton, /*#stopButton, */#resetButton {
	width: 40%;
	margin: 1px;
	border-radius: 8px;
}

.statBox {
	text-align: center;
	font-size: 14pt;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	/*transition: background-color 0.5s ease-in;*/

	background-image: linear-gradient(to right, #00FF00 50%, #F1F1F1 50%);
  background-repeat: no-repeat;
  background-size: 200% 100%;
  background-position: right 2px bottom; /* Start with the default color showing */
  transition: background-position 0.1s linear;
}

.stopwatchChar, .selectableSafeLimit, .ratesChar, .discountsChar, #safeRefineLimit {
	font-size: 140%;
}

.ratesChar.hover {

}

.stopwatchValue {
	font-size: 140%;
	align-content: center;
	border-radius: 8px;

}


.graphBox {
	grid-column-end: span 2;
}

#refineChart {
	width:100%;
	height: 50%;
}




/*on-hover tooltips for clarity*/
.statBox[data-customTitle] {
	transition: display 0.5s ease-in-out;
}

/*#oresBox {
  cursor: help;
}

.tooltiptext {
  opacity: 0;
  width: 130px;
  background-color: black;
  color: #fff;
  text-align: center;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 6px;
  padding: 5px 0;
  z-index: 1;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

#oresBox:hover .tooltiptext {
  opacity: 1;
}

#oresBox:hover:after .tooltiptext {
  opacity: 0;
}*/