body {
	background-color: grey;
	height: 80vh;
/*	width: 80vw;*/
	margin-left: 5%;
	margin-right: 5%;
	font-family: consolas;
}

.panelContainer {
	height: 100%;
	width: 100%;
	margin: auto;
	display: grid;
	grid-template-columns: auto auto;
	gap: 10px;
	background-color: dodgerblue;
	padding: 10px;
	border-radius: 25px;
}

div.panels{
	background-color: #f1f1f1;
	color:#000;
	padding: 10px;
	/*font-size: 30px;*/
	text-align: center;
	border-radius: 25px;
}

#leftPanel {
  grid-row-start: 1;
  grid-row-end: 2;
}

.info {
	width: 50%;
	float: left;
	/*text-align: left;*/
}

#rightPanel {
	grid-column: 2;
}
#lineGraph {
	grid-column: 1 / span 2;
	overflow-x: hidden;
	overflow-y: hidden;
}

.refineNumber {
	/*width: 20%;*/
	/*height: 98%;*/
	vertical-align: bottom;
	/*text-align: center;*/
	/*font-size: 100%;*/
/* check font-size responsivess with window size change	*/
padding: 0px;
border: 0px;
/*margin: 0px;*/
}

.checkboxes {
/*	transform: scale(1.3);*/
/*	vertical-align: bottom;*/
}

#refineSpeedSlider {
	width: 85%;
}

#startButton, #pauseButton, /*#stopButton, */#resetButton {
	width: 40%;
	margin: 1px;
	border-radius: 8px;
}

.statBox {
	text-align: center;
	font-size: 14pt;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	/*transition: background-color 0.5s ease-in;*/

	background-image: linear-gradient(to right, #00FF00 50%, #F1F1F1 50%);
  background-repeat: no-repeat;
  background-size: 200% 100%;
  background-position: right 2px bottom; /* Start with the default color showing */
  transition: background-position 0.1s linear;
}

.leftPanelSymbols, .discountsChar, #safeRefineLimit {
	font-size: 140%;
}

/*change the cursor to arrow from the text highlight symbol*/
#ratesChar{
	cursor: default;
}

.stopwatchValue {
	font-size: 140%;
	align-content: center;
	border-radius: 8px;
}


.graphBox {
	grid-column-end: span 2;
}

#refineChart {
	width:100%;
	height: 50%;
}

.statboxTooltips, .leftPanelTooltips {

/*	https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/white-space

	Sequences of white space are preserved. Lines are only broken at NEWLINE CHARACTERS 
	IN THE SOURCE and at <br> elements. Equivalent to preserve nowrap.*/
	white-space: pre;

	visibility: hidden;
	opacity: 0;
	background-color: black;
	color: white;
	text-align: left;
	border-radius: 6px;
	padding: 5px;
	padding-top: 3px;
	position: absolute;
	
	z-index: 1000;
	/* property | duration | timing-function | delay */
	transition: opacity 0.3s ease-in 1s, visibility 0.3s ease-in 1s;
}

.statboxTooltips{
	transform: translate(-105%, -105%);
}

.leftPanelTooltips{
	transform: translateY(-50%);
}

/*override the inherited values from h3 to match all others, this is a band-aid fix*/
#successRates{
	font-size: 16px;
	font-weight: normal;
}